.header-and-search {
    width: 100%;
    background-image: url('../img/Logo_and_theme/london_theme.jpg');
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}

.header {
    width: 100%;
    height: var(--header-height);
    background-color: rgba(0,0,0,0.12);
}

/* nav bar */
.header-navbar {
    width: 100%;
    height: 103px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navbar-wrapper {
    display: flex;
    align-items: center;
}

.navbar__logo {
    width: 197px;
    height: 66px;
    margin: 0 15px;
}

.navbar__logo-img {
    width: 160px;
    transform: translateY(10px);
}

.navbar__list {
    padding: 0 15px;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar__item {
    list-style: none;
    position: relative;
}

.navbar__link {
    display: block;
    padding: 25px 15px;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
}

/*============== subnav ================*/

.navbar__list-subnav {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 190px;
    box-shadow: 0px 2px 5px #f1f1f1;
    background-color: var(--white-color);
    z-index: 2;
    display: none;
}

.navbar__list-subnav-item {
    list-style: none;
    padding: 15px 25px;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
}

.navbar__list-subnav-item:hover,
.navbar__list-subnav-child-item:hover {
    background-color: #f9f9f9;
}

.navbar__list-subnav-link {
    text-decoration: none;
    color: #9a9a9a;
    font-size: 1.4rem;
}

.navbar__lost-subnav-icon {
    font-size: 1rem;
}

/* =======subnav child ======== */

.navbar__list-subnav-child {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: -216px;
    width: 190px;
    box-shadow: 0px 2px 5px #f1f1f1;
    background-color: var(--white-color);
    display: none;
}

.navbar__list-subnav-child::after {
    content: "";
    display: block;
    width: 25px;
    height: 190px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: -26px;
}

.navbar__list-subnav-child-item {
    list-style: none; 
    padding: 15px 25px;
    background-color: var(--white-color);
    border-bottom: 1px solid #f1f1f1;
}

.navbar__list-subnav-child-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #9a9a9a;
}

/* ======= end subnav child ======== */


/*=============== End subnav ===================*/

/* Buy now button */

.navbar__buy {
    align-self: center;
    position: relative;
    display: inline-block;
    width: 124px;
    height: 36px;
    background-color: #ba71da;
    border-radius: 30px;
    margin-left: 25px;
    z-index: 1;
}

.navbar__buy .btn {
    letter-spacing: 2px;
}

.navbar__buy {
    background: #b621fe;
    border: none;
    z-index: 1;
}

.navbar__buy:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 30px;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),7px 7px 20px 0px rgba(0,0,0,.1),4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
}

.navbar__buy:hover {
    color: #fff;
}

.navbar__buy:hover:after {
    left: 0;
    width: 100%;
}

.navbar__buy:active {
    top: 1px;
}

/* Menu and side bar */

.navbar__menu-label {
    padding: 0 15px;
    cursor: pointer;
}

.navbar__menu-icon {
    font-size: 2.5rem;
    color: var(--white-color);
}


/* side bar */

.sidebar__responsive {
    display: none;
}

.sidebar-checkbox:checked ~ .sidebar {
    transform: translateX(0);
}

.sidebar {
    width: 350px;
    height: 100vh;
    background-color: var(--white-color);
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    overflow: auto;
    transform: translateX(100%);
    transition: transform ease 0.7s;
}

.sidebar__close {
    position: absolute;
    top: 10px;
    right: 10px;
    
}

.sidebar__close-btn {
    width: 25px;
    height: 25px;
}

.sidebar__close-img {
    width: 25px;
    cursor: pointer;
}

.sidebar__content {
    padding: 20px 20px;
}

.sidebar__header {
    text-align: center;
}

.sidebar__first-heading {
    margin: 0;
    margin-bottom: 4px;
    letter-spacing: 2px;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: normal;
    color: #14b9d5;
}

.sidebar__second-heading {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 12px;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #555555;
    text-decoration: none;
    position: relative;
}

.sidebar__second-heading::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #ffd105;
    position: absolute;
    bottom: 8px;
    right: 1px;
    z-index: -1;
}

.sidebar__place {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.sidebar__place-img {
    width: 100px;
}

.sidebar__place-img--size {
    width: 100px;
}

.sidebar__place-info {
    width: 135px;
    display: block;
}

.sidebar__place-name {
    margin: 0;
    margin-top: 5px;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #555555;
}

.sidebar__place-location {
    margin: 0;
    margin-top: 10px;
    font-size: 1.5rem;
    color: var(--text-color);
}

.navbar__place-hightlight {
    width: 263px;
    height: 263px;
    margin: 15px;
    position: relative;
}

.navbar__place-hightlight-img {
    width: 100%;
}

.navbar__place-hightlight:hover .navbar__place-hightlight-info {
    display: block;
}

.navbar__place-hightlight-info {
    position: absolute;
    width: 263px;
    height: 263px;
    background-color: #14b9d5;
    top: 0;
    text-align: center;
    padding: 44px 0;
    display: none;
    animation: FadeIn linear 1s;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.navbar__place-hightlight-heading {
    margin: 0;
    color: var(--white-color);
    letter-spacing: 0px;
    font-size: 20px;
    margin-bottom: 20px;
}

.navbar__place-hightlight-name {
    color: var(--white-color);
    font-size: 1.4rem;
    text-decoration: none;
    margin: 10px 0;
}

.navbar__place-hightlight-btn {
    display: flex;
    justify-content: center;
}


/* ========= search section ======== */

.search {
    padding: 200px 150px;
    width: 100%;
}

.search__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__heading {
    margin: 0;
    letter-spacing: 1px;
    font-size: 5rem;
    line-height: 5rem;
    color: var(--white-color);
    margin-bottom: 35px;
}

.search__heading u {
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.search__heading u::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    left: -1px;
    background-color: #ba71da;
    bottom: 11px;
    z-index: -1;
}

.search__des {
    margin: 0;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: normal;
    letter-spacing: 4px;;
    color: var(--white-color);
    text-align: center;
    margin-bottom: 65px;
}

.search__input {
    text-align: center;
    position: relative;
    margin-bottom: 55px;
}

.search__input-thing {
    width: 370px;
    height: 43.6px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.5rem;
    padding: 10px 25px;
    cursor: text;
}

.search__input-thing::placeholder {
    color: #9a9a9a;
}

.search__input-item {
    position: absolute;
    top: 2px;
    right: 150px;
    padding: 10px 15px;
    cursor: pointer;
}

.search__input-icon {
    font-size: 2rem;
    color: #9a9a9a;
}

.search__topic {
    display: flex;
    justify-content: center;
}

.search__topic-item {
    padding: 15px;
}

.search__topic-item-wrapper {
    display: block;
    width: 112.5px;
    height: 104.2px;
    background-color: rgba(0,0,0,0.21);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search__topic-img {
    width: 40px;
    margin-bottom: 14px;
}

.search__topic-des {
    margin: 0;
    color: var(--white-color);
    letter-spacing: 2px;
    font-size: 1.1rem;
}  

/* Proposal section */

.proposal__destination-wrapper {
    padding: 15px;
}

.proposal__destination {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}

.proposal__destination:hover .proposal__destination-sub-info {
    display: flex;
}

.proposal__destination-img {
    width: 100%;
    height: 100%;
}

.proposal__destination-info {
    position: absolute;
    top: 0;
    background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
    width: 100%;
    height: 100%;
}

.proposal__destination-sm-img {
    position: absolute;
    top: 0;
    padding: 30px;
}

.proposal__destination-sm-img img {
    width: 35px;
}

.proposal__destination-heading {
    position: absolute;
    bottom: 0;
    padding: 30px;
}

.proposal__destination-first-heading {
    margin: 0;
    color: var(--white-color);
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0px;
    font-weight: bold;
    margin-bottom: 10px;
}

.proposal__destination-second-heading {
    margin: 0;
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    letter-spacing: 2px;
    font-weight: normal;
}

.proposal__destination-sub-info {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #14b9d5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: FadeIn ease 1s;
    display: none;
}

.proposal__destination-sub-info-heading {
    margin: 0;
    color: var(--white-color);
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0px;
    margin-bottom: 20px;
}

.proposal__destination-sub-info-place {
    margin: 0;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 2.7rem;
}

.holiday {
    width: 100%;
    height: 235px;
    background-image: url('../img/destinations/sanfrancisco_2.jpg');
    background-position: center;
    background-size: cover;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.holiday__heading {
    padding: 0 15px; 
    margin-right: 45px;   
    color: var(--white-color);
    font-weight: bold;
}

.holiday__first-heading {
    margin: 0;
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: 0;
    font-weight: bold;
}
 
.holiday__second-heading {
    margin: 0;
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 0;
}

.holiday__second-heading u {
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.holiday__second-heading u::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #f76570;
    position: absolute;
    bottom: 11px;
    right: 0;
    z-index: -1;
}

.holiday__button {
    margin: 0 65px;
    padding: 0 15px;
    background-color: var(--white-color);
    width: 240px;
    border-radius: 30px;
    height: 43.6px;
}

.holiday__button .btn {
    color: #F76570;
    line-height: 43.6px;
    letter-spacing: 2px;
}

/* Special PLACE */

.special-info-wrapper {
    padding: 0 35px 0 15px;
}

.special-slider-wrapper {
    padding: 0 15px 0 35px;
    position: relative;
}

.special {
    margin-top: 75px;
}

.special__location {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--text-color);
    font-weight: normal;
}

.special__place {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0px;
    font-weight: bold;
    color: #555555;
    margin-top: 15px;
}

.special__place u {
    text-decoration: none;
    position: relative;
}

.special__place u::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #14b9d5;
    position: absolute;
    bottom: 11px;
    left: 0;
    z-index: -1;
}

.special__des {
    margin: 0;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 30px;
    letter-spacing: 1px;
    line-height: 27px;
}

.special__price {
    margin: 0;
    margin-top: 30px;
    font-size: 3rem;
    color: #555555;
    font-weight: normal;
    line-height: 3rem;
    letter-spacing: 1px;
}

.special__old-price {
    display: inline-block;
    margin: 0;
    color: #dadada;
    text-decoration: line-through;
    letter-spacing: 1px;
}

.special__price-person {
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.special__button {
    width: 163px;
    height: 43.6px;
    background-color: #1bbc9b;
    border-radius: 30px;
    margin-top: 30px;
}

.special__button .btn {
    line-height: 43.6px;
    letter-spacing: 2px;
}

.special__slider-img {
    width: 100%;
    height: 410px;
    background-image: url('../img/destinations/bestbeach.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.special__slider-select {
    margin-top: 25px;
    width: 60px;
    height: 3px;
    background-color: rgba(255,255,255,0.5);
}

.special__slider-selected {
    background-color: rgba(255,255,255,1);
}

.special__slider-select + .special__slider-select {
    margin-left: 20px;
}

.special__time {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -43px;
    left: 180px;
}

.special__time-box {
    width: 123px;
    height: 114px;
    background-color: #14b9d5;
    text-align: center;
    position: relative;
}
 
.special__time-num {
    margin: 0;
    margin-top: 35px;
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: normal;
    color: var(--white-color);
}

.special__time-des {
    margin: 0;
    margin-top: 4px;
    margin-bottom: 30px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    letter-spacing: 2px;
    font-weight: normal;
    color: var(--white-color);
    position: relative;
}

.special__time-box--seperate::before {
    position: absolute;
    content: "/";
    top: 30px;
    right: -12px;
    font-size: 42px;
    color: #000;
    opacity: 0.05;
    font-weight: 400;
    z-index: 1;
    line-height: 60px;
}

.special__more {
    margin-top: 85px !important;
}

.special__more-wrap-info {
    display: flex;
    padding: 15px;
}

.special__more-img img {
    width: 50px;
}

.special__more-info {
    padding-left: 20px;
}

.special__more-heading {
    margin: 0;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: #555555;
    letter-spacing: 1px;
}

.special__more-des {
    margin: 20px 0;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--text-color);
    letter-spacing: 1px;
}

.view-more {
    text-decoration: none;
    font-size: 1.4rem;
    color: #14b9d5;
    letter-spacing: 1px;
}

/* discover */

.discover {
    margin-top: 65px;
    width: 100%;
    display: flex;
}

.discover__background-1 {
    background-image: url('../img/destinations/discover_1.jpg');
}

.discover__background-2 {
    background-image: url('../img/destinations/discover_2.jpg');
}

.discover__background {
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.discover__info {
    padding: 60px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.discover__topic {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--white-color);
    font-weight: normal;
    margin-bottom: 20px;
}

.discover__heading {
    margin: 0;
    font-size: 3.6rem;
    line-height: 3.6rem;
    color: var(--white-color);
    letter-spacing: 0;
    font-weight: bold;
    margin-bottom: 40px;
}

.discover__button {
    width: 136px;
    height: 43.6px;
    background-color: var(--white-color);
    border-radius: 30px;
}

.discover__button--orange .btn {
    color: #F3A46B;
    line-height: 43.6px;
}

.discover__button--green .btn {
    color: #1bbc9b;
    line-height: 43.6px;
}

/* Promotion section */

.promotion__destination {
    margin-top: 15px;
    outline-width: 1px;
    outline-color: #f1f1f1;
    outline-style: solid;
}

.destination__image-container {
    position: relative;
}

.destination__image {
    width: 100%;
}

.destination__sub-image-container {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    bottom:-20px;
    right: 20px;
}

.destination__background--yellow {
    background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
}

.destination__background--red {
    background: linear-gradient(to right, #f76570 0%, #f78d65 100%);
}

.destination__background--purple {
    background: linear-gradient(to right, #ba71da 0%, #da717b 100%);
}


.destination__sub-img {
    width: 26px;
    position: absolute;
    top: 12px;
    left: 12px;
}

.destination__info-wrapper {
    padding: 30px;
}

.destination__name {
    border-bottom: 1px solid #f1f1f1;
}

.destination__place {
    margin: 0;
    color: #555555;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 10px;
}

.destination__location {    
    margin: 0;
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.destination__purpose-and-price {
    border-bottom: 1px solid #f1f1f1;
    padding: 15px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destination__first-purpose {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: #555555;
    font-weight: normal;
}

.destination__second-purpose {
    margin: 0;
    font-size: 1.3rem;
    line-height: 2.7rem;
    color: #555555;
    font-weight: normal;
}

.destination__purpose-hidden {
    padding: 1px 10px;
    font-size: 1rem;
    color: var(--white-color);
    border-radius: 30px;
    margin-left: 5px;
    position: relative;
    top: -1px;
}

.destination__purpose-hidden:hover .destination__third-purpose {
    display: block;
}

.destination__third-purpose {
    background-color: #555555;
    position: absolute;
    bottom: -48px;
    right: -25px;
    display: none;
}

.destination__third-purpose::after {
    content: "";
    display: block;
    border: 10px solid;
    border-color: transparent transparent #555555 transparent;
    position: absolute;
    top: -16px;
    right: 32px;
}

.destination__third-purpose a {
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 1.6rem;
    letter-spacing: 1px;
    color: var(--white-color);
    padding: 10px 12px;
}

.destination__current-price {
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #555555;
    font-weight: normal;
}

.destination__paragraph {
    margin: 0;
    color: #9a9a9a;
    font-size: 1.4rem;
    line-height: 2.7rem;
    letter-spacing: 1px;
    margin: 20px 0;
}

.destination__button {
    width: 100px;
    height: 36.4px;
    border-radius: 30px;

}

.destination--yellow {
    background-color: #FFD205;
}

.destination--red {
    background-color: #f76570;
}

.destination--purple {
    background-color: #ba71da;
}

/* Footer */

.footer {
    margin-top: 75px;
    width: 100%;
    height: 100%;
    background-image: url('../img/destinations/footer_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Contact */
 
.contact {
    padding: 80px 0 65px 0;
    display: flex;
    justify-content: center;
}

.contact__heading {
    width: 400px;
}

.contact__first-heading {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--text-color);
    font-weight: normal;
    margin-bottom: 20px;
}

.contact__second-heading {
    margin: 0;
    font-size: 3.6rem;
    line-height: 3.6rem;
    color: #555555;
    font-weight: bold;
    letter-spacing: 0px;
}

.contact__msg {
    padding-top: 20px;
    width: 400px;
    display: flex;
}

.contact__your-msg {
    width: 258px;
    height: 46px;
    background-color: #f9f9f9;
    border-width: 1px;
    border-color: #f1f1f1;
    border-radius: 30px;
    border-style: solid;
    padding: 0px 20px;
    outline: none;
    color: #a3a3a3;
    font-size: 1.4rem;
}

.contact__your-msg::placeholder {
    color: #a3a3a3;
    font-size: 1.4rem;
}

.contact__send-button {
    width: 92.5px;
    height: 43.2px;
    border-radius: 30px;
    margin-left: 20px;
    background-color: #14b9d5;
}

.contact__send-button .btn {
    line-height: 43.2px;
    letter-spacing: 2px;
}

/* About */

.about {
    padding-bottom: 80px;
}

.about__background {
    background-color: var(--white-color);
    padding: 35px 40px;
}

.logo {
    width: 150px;
    margin: 10px 0 25px 0;
}

.about__paragraph {
    margin: 0;
    font-size: 1.4rem;
    line-height: 27px;
    color: var(--text-color);
    margin-bottom: 25px;
}

.about__social {
    margin-bottom: 10px;
}

.about__social a{
    text-decoration: none;
    margin-right: 20px;
}

.about__social a img {
    width: 22px;
}

.more__list {
    margin: 0;
    padding: 0;
}

.more__heading {
    margin: 0;
    font-size: 1.4rem;
    margin: 25px 0 35px 0;
    color: #555555;
}

.more__item {
    list-style: none;
    font-size: 1.4rem;
    line-height: 2.7rem;
    letter-spacing: 1px;
    color: var(--text-color);
}

.more__item > i {
   font-size: 9px;
}

.about__following {
    width: 100%;
    height: 52px;
    margin-right: auto;
    margin-left: auto;
    background-color: #14b9d5;
}























